.customSearchBar {
    background-color: var(--back-color3);
    border: 5px solid var(--back-color1);
    color: var(--writing-color);
    border-radius: 4px;
    box-shadow: 5px 5px 5px var(--back-color2);
    padding-left: 0.3em;
    padding-right: 0.3em;
    height: 2.2em;
    outline: none;
}

.customSearchBar:-webkit-autofill,
.customSearchBar:focus:-webkit-autofill {
    -webkit-text-fill-color: var(--writing-color);
    box-shadow: 0 0 0px 1000px var(--back-color3) inset;
    font-size: auto;
}

.customSearchBar:-moz-autofill,
.customSearchBar:focus:-moz-autofill {
    -moz-text-fill-color: var(--writing-color);
    box-shadow: 0 0 0px 1000px var(--back-color3) inset;
}

.customSearchBar:-o-autofill,
.customSearchBar:focus:-o-autofill  {
    -o-text-fill-color: var(--writing-color);
    box-shadow: 0 0 0px 1000px var(--back-color3) inset;
}

.customSearchBar:-khtml-autofill,
.customSearchBar:focus:-khtml-autofill {
    -khtml-text-fill-color: var(--writing-color);
    box-shadow: 0 0 0px 1000px var(--back-color3) inset;
}


.customSearchBar::-webkit-scrollbar {
    /* Hide scrollbar for Chrome, Safari and Opera */
    display: none;
}

.customSearchBar {
    /* Hide scrollbar */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}
