:root {
    --layout-top-border-height: 16px;
    --layout-header-height: 72px;
    --subnav-width: 256px;
    --back-color1: rgb(32, 34, 37);
    --back-color2: rgb(47, 49, 54);
    --back-color3: rgb(54, 57, 63);
    --back-color2-hover: rgba(79, 84, 92, 0.32);
    --back-color2-shadow: linear-gradient(rgb(22, 24, 26), rgb(47, 49, 54));
    --back-color3-shadow: linear-gradient(rgb(29, 32, 35), rgb(54, 57, 63));
    --writing-color: rgb(221, 221, 221);
    --red: #CF202A;
    --green: #20CF6E;
    --blue: #2082CF;
    --light-red: #D94D55;
    --light-green: #4DD98B;
    --light-blue: #4D9BD9;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--writing-color);
}

.layout {
    display: flex;
    height: 100%;
    position: relative;
}

.right-box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: var(--nav-width);
    right: 0;
    display: flex;
    flex-direction: row;
    background-color: var(--back-color1);
    border-top: solid var(--layout-top-border-height) var(--back-color1);
}

.content {
    flex: 1;
    height: 100%;
    background-color: var(--back-color3);
    display: flex;
    flex-direction: column;
}

button {
    cursor: pointer;
}

/* How to add a shadow under a div :  
.class::after { 
    position: absolute;
    left: 0px;
    bottom: -2px;
    height: 2px;
    width: 100%;
    content: ''; 
    background-image: var(--back-color2-shadow)
}
*/