.lol-game-review {
    margin: 48px;
    width: auto;
    background-color: var(--back-color2);
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.lol-game-review>.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.lol-game-review>.header .Victory {
    color: var(--light-blue);
}

.lol-game-review>.header .Defeat {
    color: var(--light-red);
}

.lol-game-review>.header div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 7em;
}

.lol-game-review>.header img {
    width: 1.5em;
    height: 1.5em;
    transform: rotate(-90deg);
}

.lol-game-review .selected-player-matchup {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lol-game-review .selected-player-matchup>div {
    width: 100%;
}

.lol-game-review .player {
    background-color: var(--back-color3);
    border-radius: 3px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.lol-game-review .left-part .player {
    flex-direction: row;
}

.lol-game-review .right-part .player {
    flex-direction: row-reverse;
}

.lol-game-review .player .champion-icon img {
    width: 4vw;
    height: 4vw;
}

.lol-game-review .player .summoner-spells {
    width: 1.55vw;
    margin: 0.3vw;
}

.lol-game-review .player .summoner-spells img {
    width: 1.55vw;
    height: 1.55vw;
    margin-top: 0.15vw;
    margin-bottom: 0.15vw;
}

.lol-game-review .player .kda, .lol-game-review .player .wards {
    margin: 0.3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lol-game-review .player .golds {
    margin: 0.3vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.lol-game-review .player .golds img {
    width: 1vw;
    height: 1vw;
    margin-left: 0.2vw;
}

.lol-game-review .player .items {
    width: 5.55vw;
    margin: 0.3vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.lol-game-review .player .items .item, .lol-game-review .player .trinket {
    width: 1.55vw;
    height: 1.55vw;
    margin: 0.15vw;
    background-color: var(--back-color2);
}