.lol-profile {
    height: fit-content;
    background-color: var(--back-color3);
    height: 85vh;
    border-radius: 5px;

    display: grid;
    grid-template-columns: 0.6fr 0.8fr 1.6fr;
    grid-template-rows: 0.5fr 1.5fr;
    gap: 2%;
    grid-template-areas:
        ". . ."
        ". games games";
}

.lol-profile>section:nth-of-type(5) {
    grid-area: games;
}

.lol-profile section {
    border-radius: 5px;
}

.lol-profile .summoner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--back-color1);
}

.lol-profile .summoner>img {
    width: 40%;
    border-radius: 5px;
}

.lol-profile .rank {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--back-color2);
}

.lol-profile .rank .elo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lol-profile .rank .elo>img {
    width: 30%;
}

.lol-profile .rank .games-counts {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    margin-bottom: 2.5%;
    bottom: 0;
}

.lol-profile .rank .games-counts>h3 {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.lol-profile .roles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--back-color2);
}


.lol-profile .roles .role {
    width: 17%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.lol-profile .roles .role>img {
    width: 30%;
}

.lol-profile .roles .role .winrate-diagram {
    height: 40%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.lol-profile .roles .role .winrate-diagram .part {
    width: 100%;
}

.lol-profile .roles .role .winrate-diagram .l.part {
    background-color: var(--back-color3);
}

.lol-profile .roles .role .winrate-diagram .w.part {
    background-color: var(--blue);
}

.lol-profile .champions {
    background-color: var(--back-color1);
}

.lol-profile .games {
    background-color: var(--back-color2);
}