.lol-profile {
    height: fit-content;
    background-color: var(--back-color3);
    height: 85vh;
    border-radius: 5px;

    display: grid;
    grid-template-columns: 0.6fr 0.8fr 1.6fr;
    grid-template-rows: 18.5vh 63.5vh;
    gap: 3vh;
    grid-template-areas:
        ". . ."
        ". games games";
}

.lol-profile>section:nth-of-type(5) {
    grid-area: games;
}

.lol-profile section {
    border-radius: 5px;
}

.lol-profile .summoner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--back-color1);
}

.lol-profile .summoner>img {
    width: 40%;
    border-radius: 5px;
}

.lol-profile .rank {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--back-color2);
}

.lol-profile .rank .elo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lol-profile .rank .elo>img {
    width: 30%;
}

.lol-profile .rank .games-counts {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    margin-bottom: 2.5%;
    bottom: 0;
}

.lol-profile .rank .games-counts>h3 {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.lol-profile .roles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--back-color2);
}


.lol-profile .roles .role {
    width: 17%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.lol-profile .roles .role>img {
    width: 30%;
}

.lol-profile .roles .role .winrate-diagram {
    height: 40%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.lol-profile .roles .role .winrate-diagram .part {
    width: 100%;
}

.lol-profile .roles .role .winrate-diagram .l.part {
    background-color: var(--back-color3);
}

.lol-profile .roles .role .winrate-diagram .w.part {
    background-color: var(--blue);
}

.lol-profile .champions {
    height: 100%;
}

.lol-profile .champions>table {
    width: 100%;
    height: 100%;
    background-color: var(--back-color2);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    border-spacing: 0px;
    border-collapse: collapse;
}

.lol-profile .champions>table tr, .lol-profile .champions>table th, .lol-profile .champions>table td {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.lol-profile .champions>table img {
    width: 80%;
    border-radius: 15%;
}

.lol-profile .champions>table tr {
    width: 100%;
}

.lol-profile .champions thead {
    height: 3vh;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.lol-profile .champions thead tr {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    height: 100%;
}

.lol-profile .champions thead th {
    background-color: var(--back-color1);
}

.lol-profile .champions tbody td {    
    background-color: var(--back-color2);
}

.lol-profile .champions thead tr th:first-of-type {
    border-top-left-radius: inherit;
}

.lol-profile .champions thead tr th:last-of-type {
    border-top-right-radius: inherit;
}

.lol-profile .champions tbody {
    max-height: 60.5vh;
    height: fit-content;
    display: block;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    position: relative;
    background-color: var(--back-color1);

    /* Hide scrollbar */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.lol-profile .champions tbody::-webkit-scrollbar {
    /* Hide scrollbar for Chrome, Safari and Opera */
    display: none;
}

.lol-profile .champions tbody tr {
    height: 3.4em;
    scroll-snap-align: start;
}

.lol-profile .champions>table tr>:nth-child(1) {
    width: 20%;
    background-color: var(--back-color1);
}

.lol-profile .champions>table tr>:nth-child(2) {
    width: 30%;
    flex-direction: column;
}

.lol-profile .champions>table .wins-count {
    color: var(--green);
}

.lol-profile .champions>table .losses-count {
    color: var(--red);
}

.lol-profile .champions>table tr>:nth-child(3) {
    width: 25%;
}

.lol-profile .champions>table tr>:nth-child(4) {
    width: 25%;
}

.lol-profile .champions>table tbody tr:nth-of-type(1)>td:nth-of-type(2) {
    border-top-left-radius: 5px;
}

.lol-profile .champions>table>tfoot {
    height: 100%;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.lol-profile .champions>table>tfoot>tr {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.lol-profile .champions tfoot tr td:first-of-type {
    border-bottom-left-radius: inherit;
}

.lol-profile .champions tfoot tr td:last-of-type {
    border-bottom-right-radius: inherit;
}

.lol-profile .games {
    background-color: var(--back-color1);
    overflow-y: scroll;
    border: 5px solid var(--back-color1);

    /* Hide scrollbar */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.lol-profile .games::-webkit-scrollbar {
    /* Hide scrollbar for Chrome, Safari and Opera */
    display: none;
}

.lol-profile .games .game {
    border-radius: inherit;
    background-color: var(--back-color2);
    width: 100%;
    height: 25%;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.lol-profile .games .game:last-of-type {
    margin-bottom: 0;
}

.lol-profile .games .game>div {
    width: 25%;
    height: 100%;
}

.lol-profile .games .game .general {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lol-profile .games .game .player {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.lol-profile .games .game .player .info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.lol-profile .games .game .player .info>img {
    width: 24%;
}

.lol-profile .games .game .player .info .summoners {
    width: 12%;
}

.lol-profile .games .game .player .info .summoners img {
    width: 100%;
}

.lol-profile .games .game .player .info .runes {
    width: 64%;
}

.lol-profile .games .game .player .info .runes img {
    width: 20%;
}

.lol-profile .games .game .player .build {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 20%;
    width: 100%;
}

.lol-profile .games .game .player .build .item {
    width: 13%;
    height: 100%;
    background-color: var(--back-color1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.lol-profile .games .game .player .build .item img {
    width: auto;
    height: 100%;
    border-radius: 3px;
}

.lol-profile .games .game .stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lol-profile .games .game .matchups {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.lol-profile .games .game .matchups .team>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.lol-profile .games .game .matchups .right.team>div {
    flex-direction: row-reverse;
}

.lol-profile .games .game .matchups img {
    width: 20%;
}