.content-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.discord-bot-music-play {
    width: 65vw;
    height: 60vh;
    margin: 15px;
    margin-bottom: 0;
    border-radius: 5px;
    background-color: var(--back-color2);
    overflow: hidden;
}

.discord-bot-music-play .head {
    width: 100%;
    height: 15vh;
    background-color: var(--back-color1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.discord-bot-music-play .head .left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.discord-bot-music-play .head .right {
    flex: 5;
}

.discord-bot-music-play .head .play-pause {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--back-color3);
    width: 10vh;
    height: 10vh;
    border: 1.5vh;
    border-radius: 50%;
}

.discord-bot-music-play .head .play-pause::after {
    content: '';
    display: block;
    background-color: transparent;
    --element-size: 4vh;

    width: calc(0.7 * 0.34 * var(--element-size));
    height: var(--element-size);
    border-left: calc(0.37 * var(--element-size)) solid var(--back-color1);
    border-right: calc(0.37 * var(--element-size)) solid var(--back-color1);
    border-top: 0;
    border-bottom: 0;
}

.discord-bot-music-play .head .play-pause.paused::after {
    width: 0;
    height: 0;
    border-top: calc(0.5 * var(--element-size)) solid transparent;
    border-bottom: calc(0.5 * var(--element-size)) solid transparent;
    border-left: calc(0.5 * 1.732 * var(--element-size)) solid var(--back-color1);
    border-right: 0;
}

.discord-bot-music-play .head .play-pause:hover::after {
    border-left-color: var(--back-color1-hover);
    border-right-color: var(--back-color1-hover);
}

.discord-bot-music-play .head .play-pause:hover {
    background-color: var(--back-color3-hover);
}

.discord-bot-music-append {
    width: 65vw;
    height: 15vh;
    margin-top: 15px;
    background-color: var(--back-color1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.discord-bot-music-append .left {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discord-bot-music-append .right {
    width: 25%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.discord-bot-music-append .left input {
    width: 80%;
    height: 6.5vh;
    box-shadow: 0;
    border: 0;
    font-size: large;
}

.discord-bot-music-append .right button {
    width: 80%;
    height: 5vh;
    font-size: 2.4vh;
}

.discord-bot-music-play .body {
    width: 100%;
    height: 45vh;
    overflow-y: scroll;
    scrollbar-width: 0px;
    background-color: transparent;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.discord-bot-music-play .body::-webkit-scrollbar {
    display: none;
}

.discord-bot-music-play .body div {
    position: relative;
    width: 100%;
    height: 10vh;
    background-color: var(--back-color2);
    margin-bottom: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.discord-bot-music-play .body div::after { 
    position: absolute;
    left: 0px;
    bottom: -2px;
    height: 2px;
    width: 100%;
    content: '';
    background-image: var(--back-color2-shadow);
}

.discord-bot-music-play .body div:last-of-type::after { 
    height: 0;
}

.discord-bot-music-play .body div:last-of-type {
    margin-bottom: 0;
}

.discord-bot-music-play .body div:hover {
    background-color: var(--back-color2-hover);
}

.discord-bot-music-play .body div span {
    font-size: larger;
}