.content-body {
    display: flex;
    justify-content: center;
    padding-top: 48px;
    padding-bottom: 48px;
    overflow-y: scroll;
}

.lol-game-review {
    width: 75vw;
}

@media only screen and (max-width: 1334px) {
    .lol-game-review {
        width: 60vw;
    }
}