.subnav {
    width: var(--subnav-width);
    height: 100%;
    background-color: var(--back-color2);
    border-top-left-radius: 8px;
}

.subnav > header {
    width: 100%;
    height: var(--layout-header-height);
    line-height: var(--layout-header-height);
    justify-content: center;
    position: relative;
}

.subnav > header::after { /* Shadow */
    position: absolute;
    left: 0px;
    bottom: -2px;
    height: 2px;
    width: 100%;
    content: ''; 
    background-image: var(--back-color2-shadow)
}

.subnav > header h1 {
    margin-left: 16px;
}

.subnav > form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subnav > form > button {
    width: 210px;
    height: 34px;
    margin-top: 3px;
    background-color: var(--back-color2);
    color: var(--writing-color);
}

.subnav > form > button:hover {
    background-color: var(--back-color2-hover);
    border-radius: 4px;
}

.subnav > form > button.selected {
    background-color: var(--back-color2-hover);
    border-radius: 4px;
}