<html>

<head>
    <title>Les Randoms - ARAM</title>
    {{ template "head-content.tmpl.html" }}
    <link rel="stylesheet" type="text/css" href="/static/css/aram.css" />
</head>

<body>

    {{ template "layout-start.tmpl.html" .LayoutData }}

    {{ template "content-header.tmpl.html" .ContentHeaderData }}
    
    {{ if eq .LayoutData.SubnavData.SelectedSubnavItemIndex 0 }}
    {{ template "customTable.tmpl.html" .ListTableData }}
    {{ else if eq .LayoutData.SubnavData.SelectedSubnavItemIndex 1 }}
    {{ template "customTable.tmpl.html" .ListTableData }}
    {{ else if eq .LayoutData.SubnavData.SelectedSubnavItemIndex 2 }}
    {{ template "customTable.tmpl.html" .ListTableData }}
    {{ end }}

    {{ template "layout-end.tmpl.html" .LayoutData }}

</body>

</html>