<html>

<head>
    <title>Les Randoms - ARAM</title>
    {{ template "head-content.tmpl.html" }}
    <link rel="stylesheet" type="text/css" href="/static/css/aram.css" />
</head>

<body>

    {{ template "layout-start.tmpl.html" .LayoutData }}

    {{ template "content-header.tmpl.html" .ContentHeaderData }}

    <!-- Display the same content for each .LayoutData.SubnavData.SelectedSubnavItemIndex since changes are done in aram.go -->
    {{ template "customTable.tmpl.html" .ListTableData }}

    {{ template "layout-end.tmpl.html" .LayoutData }}

</body>

</html>