<header>
    <h1>{{ .Title }}</h1>
    {{ if .IsAuthentified }}
    <div class="profile customButton">
        <img src="https://cdn.discordapp.com/avatars/{{ .DiscordId }}/{{ .AvatarId }}.png?size=32" alt="Connected User Discord Avatar" />
        <span>{{ .Username }}</span>
        <div class="customHoverMenu">
            <a href="/auth/logout" class="item">Disconnect</a>
        </div>
    </div>
    {{ else }}
    <a href="/auth/login" class="login customButton">Login</a>
    {{ end }}
</header>