<table class="customTable{{ if ne .SortColumnIndex -1 }} sorted{{ end }}"{{ if ne .SortColumnIndex -1 }} style="--sortColumnIndex: {{ .SortColumnIndex }}; --sortOrder: {{ .SortOrder }}"{{ end }}>
    <thead>
        <tr>
            {{ range $fieldName := .HeaderList }}
                <th>{{ $fieldName }}</th>
            {{ end }}
        </tr>
    </thead>
    <tbody>
        {{ range $item := .ItemList }}
        <tr>
            {{ range $field := $item.FieldList }}
            <td>{{ $field }}</td>
            {{ end }}
        </tr>
        {{ end }}
    </tbody>
</table>