<html>

<head>
    <title>Les Randoms - ARAM</title>
    {{ template "head-content.tmpl.html" }}
    <link rel="stylesheet" type="text/css" href="/static/css/database.css" />
</head>

<body>

    {{ template "layout-start.tmpl.html" .LayoutData }}

    {{ template "content-header.tmpl.html" .ContentHeaderData }}

    <form id="db-select-query-body-form" method="POST" class="customForm">
        <textarea autocomplete="off" name="db-select-query-body-textbar" class="customFormValue customSearchBar">{{ .SelectParameters.SelectQueryBody }}</textarea>
        <input type="submit" class="customButton" value="Add SQL Query Body">
    </form>

    {{ template "customTable.tmpl.html" .EntityTableData }}

    {{ template "layout-end.tmpl.html" .LayoutData }}

</body>

</html>