<html>

<head>
  <title>Les Randoms - Music Bot</title>
  {{ template "head-content.tmpl.html" }}
  <link rel="stylesheet" type="text/css" href="/static/css/music.css" />
  <script src="/static/js/music.js"></script>
</head>

<body>

  {{ template "layout-start.tmpl.html" .LayoutData }}

  {{ template "content-header.tmpl.html" .ContentHeaderData }}

  <div class="content-body">
    {{ if eq .LayoutData.SubnavData.SelectedSubnavItemIndex 0 }}
    <div class="discord-bot-music-append">
      <div class="left">
        <input type="text" class="customTextBar append-queue-text">
      </div>
      <div class="right">
        <button class="customButton append-queue-btn">Add to Queue</button>
      </div>
    </div>
    <section class="discord-bot-music-play">
      <div class="head">
        <div class="left">
          <button class="play-pause{{ if .DiscordBotMusicPlayData.CurrentPlayStatus }} paused{{ end }}"></button>
        </div>
        <div class="right">
          <h1 class="currentTitle">{{ .DiscordBotMusicPlayData.CurrentTitle }}</h1>
          <h1 class="currentTime">{{ .DiscordBotMusicPlayData.CurrentTime }}</h1>
        </div>
      </div>
      <div class="body">
        <div>
          <span>Queue is loading..</span>
        </div>
      </div>
    </section>
    {{ end }}
  </div>
  {{ template "layout-end.tmpl.html" .LayoutData }}

</body>

</html>