<html>

<head>
  <title>Les Randoms - Music Bot</title>
  {{ template "head-content.tmpl.html" }}
  <link rel="stylesheet" type="text/css" href="/static/css/lol-game-review.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/players.css" />
</head>

<body>

  {{ template "layout-start.tmpl.html" .LayoutData }}

  {{ template "content-header.tmpl.html" .ContentHeaderData }}

  <div class="content-body">
    {{ if eq .LayoutData.SubnavData.SelectedSubnavItemIndex 0 }}
    <section class="discord-bot-music">
        <h1>Work In Progress</h1>
    </section>
    {{ end }}
  </div>
  {{ template "layout-end.tmpl.html" .LayoutData }}

</body>

</html>