<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/customButton.js"></script>
<script type="text/javascript" src="/static/js/customForm.js"></script>
<script type="text/javascript" src="/static/js/customHoverMenu.js"></script>
<script type="text/javascript" src="/static/js/nav.js"></script>
<script type="text/javascript" src="/static/js/subnav.js"></script>

<link rel="stylesheet" type="text/css" href="/static/css/general.css" />

<link rel="stylesheet" type="text/css" href="/static/css/customButton.css" />
<link rel="stylesheet" type="text/css" href="/static/css/customHoverMenu.css" />
<link rel="stylesheet" type="text/css" href="/static/css/customSearchBar.css" />
<link rel="stylesheet" type="text/css" href="/static/css/customTable.css" />

<link rel="stylesheet" type="text/css" href="/static/css/nav.css" />
<link rel="stylesheet" type="text/css" href="/static/css/subnav.css" />
<link rel="stylesheet" type="text/css" href="/static/css/content-header.css" />

<link rel="icon" type="image/png" href="/static/images/favicon.png"/>