<section class="games">
    {{ $version := .Version }}
    {{ range $game := .Games }}
    <div class="game">
        <div class="general">
            <span>{{ $game.Info.GameMode }}</span>
            <span>{{ $game.Info.GameTimeAgoFormatted }} ago</span>
            <span>{{ if $game.Info.IsWin }} Win {{ else }} Loose {{ end }}</span>
            <span>{{ $game.Info.GameDuration }}</span>
        </div>
        <div class="player">
            <div class="info">
                <img src="https://cdn.communitydragon.org/latest/champion/{{ $game.Player.ChampionId }}/square"
                alt="Picture of {{ $game.Player.Champion }}">
                <div class="summoners">
                    {{ range $val := $game.Player.Summoners }}
                    <img src="https://ddragon.leagueoflegends.com/cdn/{{ $version }}/img/spell/{{ $val }}" />
                    {{ end }}
                </div>
                <div class="runes">
                    {{ range $val := $game.Player.Runes }}
                    <img src="https://ddragon.leagueoflegends.com/cdn/img/perk-images/Styles/{{ $val.IconPath }}" />
                    {{ end }}
                </div>
            </div>
            <div class="build">
                {{ range $val := $game.Player.Build }}
                <div class="item">
                    {{ if $val.Used }}
                    <img src="https://ddragon.leagueoflegends.com/cdn/{{ $version }}/img/item/{{ $val.IconPath }}" />
                    {{ end }}
                </div>
                {{ end }}
            </div>
        </div>
        <div class="stats">
            <span>8 / 4 / 9</span>
            <span>4.25 KDA</span>
            <span>194 CS (10.0)</span>
            <span>Platinum 4</span>
        </div>
        <div class="matchups">
            <div class="left team">
                {{ range $val := $game.BlueTeam.Players }}
                <div>
                    <span>{{ $val.Name }}</span>
                    <img src="https://cdn.communitydragon.org/latest/champion/{{ $val.ChampionId }}/square"
                        alt="Picture of {{ $val.Champion }}">
                </div>
                {{ end }}
            </div>
            <div class="right team">
                {{ range $val := $game.RedTeam.Players }}
                <div>
                    <span>{{ $val.Name }}</span>
                    <img src="https://cdn.communitydragon.org/latest/champion/{{ $val.ChampionId }}/square"
                        alt="Picture of {{ $val.Champion }}">
                </div>
                {{ end }}
            </div>
        </div>
    </div>
    {{ end }}
</section>