<section class="champions">
    <table>
        <thead>
            <tr>
                <th>C</th>
                <th>Games</th>
                <th>WR</th>
                <th>KDA</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img src="https://ddragon.leagueoflegends.com/cdn/12.16.1/img/champion/Velkoz.png"
                        alt="Picture of Velkoz"></td>
                <td>
                    <div>98</div>
                    <div>(<span class="wins-count">78</span>-<span class="losses-count">20</span>)</div>
                </td>
                <td>79%</td>
                <td>3.04</td>
            </tr>
            <tr>
                <td><img src="https://ddragon.leagueoflegends.com/cdn/12.16.1/img/champion/Velkoz.png"
                        alt="Picture of Velkoz"></td>
                <td>
                    <div>98</div>
                    <div>(<span class="wins-count">78</span>-<span class="losses-count">20</span>)</div>
                </td>
                <td>79%</td>
                <td>3.04</td>
            </tr>
            <tr>
                <td><img src="https://ddragon.leagueoflegends.com/cdn/12.16.1/img/champion/Velkoz.png"
                        alt="Picture of Velkoz"></td>
                <td>
                    <div>98</div>
                    <div>(<span class="wins-count">78</span>-<span class="losses-count">20</span>)</div>
                </td>
                <td>79%</td>
                <td>3.04</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tfoot>
    </table>
</section>