<div class="player">
    <div class="champion-icon">
        <img src="https://ddragon.leagueoflegends.com/cdn/11.20.1/img/champion/{{ .ChampionName }}.png" alt="Picture of {{ .ChampionName }}" />
    </div>
    <div class="summoner-spells">
        <img src="https://ddragon.leagueoflegends.com/cdn/11.20.1/img/spell/{{ .SummonerSpell1 }}" />
        <img src="https://ddragon.leagueoflegends.com/cdn/11.20.1/img/spell/{{ .SummonerSpell2 }}" />
    </div>
    <span><b>199</b>CS</span>
    <div class="golds">
        <span><b>9.8</b>k</span>
        <img src="/static/images/Gold.png" />
    </div>
    <div class="items">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
    </div>
    <div class="trinket"></div>
    <div class="wards">
        <span><b>10</b> / <b>3</b> / <b>2</b></span>
    </div>
    <div class="kda">
        <span><b>9</b> / <b>5</b> / <b>4</b></span>
        <span><b>2.60</b> KDA</span>
    </div>
</div>