<section class="lol-game-review">
    <div class="header">
        <span class="Victory">Victory</span>
        <div>
            <span>Blue Side</span>
            <img src="/static/images/BlueSide.svg" />
        </div>
        <span>{{ .GameMode }} ({{ .GameDuration }})</span>
        <div>
            <img src="/static/images/RedSide.svg" />
            <span>Red Side</span>
        </div>
        <span class="Defeat">Defeat</span>
    </div>
    <div class="team-matchups">
        <div class="left-part">
            {{ range .BlueTeam.Players }}
            {{ template "lol-game-review-player.tmpl.html" . }}
            {{ end }}
        </div>
        <div class="right-part">
            {{ range .RedTeam.Players }}
            {{ template "lol-game-review-player.tmpl.html" . }}
            {{ end }}
        </div>
    </div>
</section>