<section class="champions">
    <table>
        <thead>
            <tr>
                <th>C</th>
                <th>Games</th>
                <th>WR</th>
                <th>KDA</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th><img src="https://ddragon.leagueoflegends.com/cdn/12.16.1/img/champion/Velkoz.png"
                        alt="Picture of Velkoz"></th>
                <th>
                    <div>98</div>
                    <div>(<span class="wins-count">78</span>-<span class="losses-count">20</span>)</div>
                </th>
                <th>79%</th>
                <th>3.04</th>
            </tr>
            <tr>
                <th><img src="https://ddragon.leagueoflegends.com/cdn/12.16.1/img/champion/Velkoz.png"
                        alt="Picture of Velkoz"></th>
                <th>
                    <div>98</div>
                    <div>(<span class="wins-count">78</span>-<span class="losses-count">20</span>)</div>
                </th>
                <th>79%</th>
                <th>3.04</th>
            </tr>
            <tr>
                <th><img src="https://ddragon.leagueoflegends.com/cdn/12.16.1/img/champion/Velkoz.png"
                        alt="Picture of Velkoz"></th>
                <th>
                    <div>98</div>
                    <div>(<span class="wins-count">78</span>-<span class="losses-count">20</span>)</div>
                </th>
                <th>79%</th>
                <th>3.04</th>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</section>