<section class="games">
    {{ $version := .Version }}
    {{ range $game := .Games }}
    <div class="game">
        <div class="general">
            <span>{{ $game.Info.GameMode }}</span>
            <span>2 days ago</span>
            <span>{{ if $game.Info.IsWin }} Win {{ else }} Loose {{ end }}</span>
            <span>{{ $game.Info.GameDuration }}</span>
        </div>
        <div class="player">
            <div class="info">
                <img src="https://ddragon.leagueoflegends.com/cdn/{{ $version }}/img/champion/{{ $game.Player.Champion }}.png"
                    alt="Picture of {{ $game.Player.Champion }}">
                <div class="summoners">
                    {{ range $val  := $game.Player.Summoners }}
                    <img src="https://ddragon.leagueoflegends.com/cdn/{{ $version }}/img/spell/{{ $val }}" />
                    {{ end }}
                </div>
                <div class="runes">
                    {{ range $val := $game.Player.Runes }}
                    <!--img src="https://raw.communitydragon.org/latest/game/assets/perks/styles/sorcery/arcanecomet/arcanecomet.png" />
                    <img src="https://raw.communitydragon.org/latest/game/assets/perks/styles/sorcery/manaflowband/manaflowband.png" />
                    <img src="https://raw.communitydragon.org/latest/game/assets/perks/styles/sorcery/transcendence/transcendence.png" />
                    <img src="https://raw.communitydragon.org/latest/game/assets/perks/styles/sorcery/gatheringstorm/gatheringstorm.png" />
                    <img src="https://raw.communitydragon.org/latest/game/assets/perks/styles/inspiration/magicalfootwear/magicalfootwear.png" />
                    <img src="https://raw.communitydragon.org/latest/game/assets/perks/styles/inspiration/futuresmarket/futuresmarket.png" /-->
                    <img src="https://ddragon.leagueoflegends.com/cdn/img/perk-images/Styles/{{ $val.IconPath }}" />
                    {{ end }}
                </div>
            </div>
            <div class="build">
                <div class="item">            
                    <img src="https://ddragon.leagueoflegends.com/cdn/{{ $version }}/img/item/6653.png"/>
                </div>
                <div class="item">
            
                    <img src="https://ddragon.leagueoflegends.com/cdn/{{ $version }}/img/item/6653.png"/>
                    
                </div>
                <div class="item">
            
                    <img src="https://ddragon.leagueoflegends.com/cdn/{{ $version }}/img/item/6653.png"/>
                    
                </div>
                <div class="item">
            
                    <img src="https://ddragon.leagueoflegends.com/cdn/{{ $version }}/img/item/6653.png"/>
                    
                </div>
                <div class="item">
            
                    <img src="https://ddragon.leagueoflegends.com/cdn/{{ $version }}/img/item/6653.png"/>
                    
                </div>
                <div class="item">
            
                    <img src="https://ddragon.leagueoflegends.com/cdn/{{ $version }}/img/item/6653.png"/>
                    
                </div>
                <div class="item">
            
                    
                </div>
            </div>
        </div>
        <div class="stats">
            <span>8 / 4 / 9</span>
            <span>4.25 KDA</span>
            <span>194 CS (10.0)</span>
            <span>Platinum 4</span>
        </div>
        <div class="matchups">
            <div class="left team">
                <div>
                    <span>Player1</span>
                    <img src="https://ddragon.leagueoflegends.com/cdn/{{ $version }}/img/champion/Velkoz.png"
                        alt="Picture of Velkoz">
                </div>
                <div>
                    <span>Player1</span>
                    <img src="https://ddragon.leagueoflegends.com/cdn/{{ $version }}/img/champion/Velkoz.png"
                        alt="Picture of Velkoz">
                </div>
                <div>
                    <span>Player1</span>
                    <img src="https://ddragon.leagueoflegends.com/cdn/{{ $version }}/img/champion/Velkoz.png"
                        alt="Picture of Velkoz">
                </div>
                <div>
                    <span>Player1</span>
                    <img src="https://ddragon.leagueoflegends.com/cdn/{{ $version }}/img/champion/Velkoz.png"
                        alt="Picture of Velkoz">
                </div>
                <div>
                    <span>Player1</span>
                    <img src="https://ddragon.leagueoflegends.com/cdn/{{ $version }}/img/champion/Velkoz.png"
                        alt="Picture of Velkoz">
                </div>
            </div>
            <div class="right team">
                <div>
                    <span>Player1</span>
                    <img src="https://ddragon.leagueoflegends.com/cdn/{{ $version }}/img/champion/Velkoz.png"
                        alt="Picture of Velkoz">
                </div>
                <div>
                    <span>Player1</span>
                    <img src="https://ddragon.leagueoflegends.com/cdn/{{ $version }}/img/champion/Velkoz.png"
                        alt="Picture of Velkoz">
                </div>
                <div>
                    <span>Player1</span>
                    <img src="https://ddragon.leagueoflegends.com/cdn/{{ $version }}/img/champion/Velkoz.png"
                        alt="Picture of Velkoz">
                </div>
                <div>
                    <span>Player1</span>
                    <img src="https://ddragon.leagueoflegends.com/cdn/{{ $version }}/img/champion/Velkoz.png"
                        alt="Picture of Velkoz">
                </div>
                <div>
                    <span>Player1</span>
                    <img src="https://ddragon.leagueoflegends.com/cdn/{{ $version }}/img/champion/Velkoz.png"
                        alt="Picture of Velkoz">
                </div>
            </div>
        </div>
    </div>
    {{ end }}
</section>