<section class="games">
    <div class="game">
        <div class="general">
            <span>Ranked Solo/Duo</span>
            <span>2 days ago</span>
            <span>Win</span>
            <span>19:40</span>
        </div>
        <div class="player">
            <div class="info">
                <img src="https://ddragon.leagueoflegends.com/cdn/12.16.1/img/champion/Velkoz.png"
                    alt="Picture of Velkoz">
                <div class="summoners">
                    <img src="https://ddragon.leagueoflegends.com/cdn/12.16.1/img/spell/SummonerFlash.png" />
                    <img src="https://ddragon.leagueoflegends.com/cdn/12.16.1/img/spell/SummonerBarrier.png" />
                </div>
                <div class="runes">
                    <img src="https://raw.communitydragon.org/latest/game/assets/perks/styles/sorcery/arcanecomet/arcanecomet.png" />
                    <img src="https://raw.communitydragon.org/latest/game/assets/perks/styles/sorcery/manaflowband/manaflowband.png" />
                    <img src="https://raw.communitydragon.org/latest/game/assets/perks/styles/sorcery/transcendence/transcendence.png" />
                    <img src="https://raw.communitydragon.org/latest/game/assets/perks/styles/sorcery/gatheringstorm/gatheringstorm.png" />
                    <img src="https://raw.communitydragon.org/latest/game/assets/perks/styles/inspiration/magicalfootwear/magicalfootwear.png" />
                    <img src="https://raw.communitydragon.org/latest/game/assets/perks/styles/inspiration/futuresmarket/futuresmarket.png" />
                </div>
            </div>
            <div class="build">
                <div class="item">
            
                    <img src="https://ddragon.leagueoflegends.com/cdn/12.16.1/img/item/6653.png">
                    
                </div>
                <div class="item">
            
                    <img src="https://ddragon.leagueoflegends.com/cdn/12.16.1/img/item/6653.png">
                    
                </div>
                <div class="item">
            
                    <img src="https://ddragon.leagueoflegends.com/cdn/12.16.1/img/item/6653.png">
                    
                </div>
                <div class="item">
            
                    <img src="https://ddragon.leagueoflegends.com/cdn/12.16.1/img/item/6653.png">
                    
                </div>
                <div class="item">
            
                    <img src="https://ddragon.leagueoflegends.com/cdn/12.16.1/img/item/6653.png">
                    
                </div>
                <div class="item">
            
                    <img src="https://ddragon.leagueoflegends.com/cdn/12.16.1/img/item/6653.png">
                    
                </div>
                <div class="item">
            
                    <img src="https://ddragon.leagueoflegends.com/cdn/12.16.1/img/item/6653.png">
                    
                </div>
            </div>
        </div>
        <div class="stats">
            <span>8 / 4 / 9</span>
            <span>4.25 KDA</span>
            <span>194 CS (10.0)</span>
            <span>Platinum 4</span>
        </div>
        <div class="matchups">
            <div class="left team">
                <div>
                    <span>Player1</span>
                    <img src="https://ddragon.leagueoflegends.com/cdn/12.16.1/img/champion/Velkoz.png"
                        alt="Picture of Velkoz">
                </div>
                <div>
                    <span>Player1</span>
                    <img src="https://ddragon.leagueoflegends.com/cdn/12.16.1/img/champion/Velkoz.png"
                        alt="Picture of Velkoz">
                </div>
                <div>
                    <span>Player1</span>
                    <img src="https://ddragon.leagueoflegends.com/cdn/12.16.1/img/champion/Velkoz.png"
                        alt="Picture of Velkoz">
                </div>
                <div>
                    <span>Player1</span>
                    <img src="https://ddragon.leagueoflegends.com/cdn/12.16.1/img/champion/Velkoz.png"
                        alt="Picture of Velkoz">
                </div>
                <div>
                    <span>Player1</span>
                    <img src="https://ddragon.leagueoflegends.com/cdn/12.16.1/img/champion/Velkoz.png"
                        alt="Picture of Velkoz">
                </div>
            </div>
            <div class="right team">
                <div>
                    <span>Player1</span>
                    <img src="https://ddragon.leagueoflegends.com/cdn/12.16.1/img/champion/Velkoz.png"
                        alt="Picture of Velkoz">
                </div>
                <div>
                    <span>Player1</span>
                    <img src="https://ddragon.leagueoflegends.com/cdn/12.16.1/img/champion/Velkoz.png"
                        alt="Picture of Velkoz">
                </div>
                <div>
                    <span>Player1</span>
                    <img src="https://ddragon.leagueoflegends.com/cdn/12.16.1/img/champion/Velkoz.png"
                        alt="Picture of Velkoz">
                </div>
                <div>
                    <span>Player1</span>
                    <img src="https://ddragon.leagueoflegends.com/cdn/12.16.1/img/champion/Velkoz.png"
                        alt="Picture of Velkoz">
                </div>
                <div>
                    <span>Player1</span>
                    <img src="https://ddragon.leagueoflegends.com/cdn/12.16.1/img/champion/Velkoz.png"
                        alt="Picture of Velkoz">
                </div>
            </div>
        </div>
    </div>
    <div class="game">

    </div>
    <div class="game">

    </div>
    <div class="game">

    </div>
    <div class="game">

    </div>
</section>