<section class="lol-game-review">
    <div class="header">
        <span class="Victory">Victory</span>
        <div>
            <span>Blue Side</span>
            <img src="/static/images/BlueSide.svg" />
        </div>
        <span>Ranked Solo/Duo (33:04)</span>
        <div>
            <img src="/static/images/RedSide.svg" />
            <span>Red Side</span>
        </div>
        <span class="Defeat">Defeat</span>
    </div>
    <div class="selected-player-matchup">
        <div class="left-part"> 
            {{ template "lol-game-review-player.tmpl.html" .BlueTeam.Players }}
        </div>
        <div class="right-part"> 
            {{ template "lol-game-review-player.tmpl.html" .RedTeam.Players }}
        </div>
    </div>
</section>