<div class="player">
    <div class="champion-icon">
        <div class="summoner-name">
            <span><b>{{ .SummonerName }}</b></span>
        </div>
        <img src="https://ddragon.leagueoflegends.com/cdn/{{ .Version }}/img/champion/{{ .ChampionName }}.png"
            alt="Picture of {{ .ChampionName }}" />
    </div>
    <div class="summoner-spells">
        <img src="https://ddragon.leagueoflegends.com/cdn/{{ .Version }}/img/spell/{{ .SummonerSpell1 }}" />
        <img src="https://ddragon.leagueoflegends.com/cdn/{{ .Version }}/img/spell/{{ .SummonerSpell2 }}" />
    </div>
    <div class="cs-golds">
        <div class="creep-score">
            <span><b>{{ .CreepScore }}</b> CS</span>
        </div>
        <div class="golds">
            <span><b>{{ .GoldEarned }}</b>k</span>
            <img src="/static/images/Gold.png" />
        </div>
    </div>
    <div class="items">
        {{ range .Items }}
        <div class="item">
            {{ if . }}
            <img src="https://ddragon.leagueoflegends.com/cdn/{{ .Version }}/img/item/{{ . }}" />
            {{ end }}
        </div>
        {{ end }}
    </div>
    <div class="trinket">
        {{ if .Trinket }}
        <img src="https://ddragon.leagueoflegends.com/cdn/{{ .Version }}/img/item/{{ .Trinket }}" />
        {{ else }}
        <img src="https://ddragon.leagueoflegends.com/cdn/{{ .Version }}/img/item/2052.png" />
        {{ end }}
        <span class="vision-score">{{ .VisionScore }}</span>
    </div>
    <div class="kda">
        <span><b>{{ .Kills }}</b> / <b>{{ .Deaths }}</b> / <b>{{ .Assists }}</b></span>
        <span class='{{ if eq .KDA "Perfect" }}perfect-kda{{ end }}'><b>{{ .KDA }}</b> KDA</span>
    </div>
</div>