<nav>
  <a class="nav-item" href="/">
    <img src="/static/favicon.png" />
  </a>
  <div class="nav-group expanded">
    <div class="nav-group-header">
      <img src="/static/lol.ico">
    </div>
    <div class="nav-group-content">
      <a class="nav-item" href="aram">
        <img src="/static/HowlingAbyssIcon.png" />
      </a>
    </div>
  </div>
  <div class="nav-group expanded">
    <div class="nav-group-header">
      <img src="/static/lol.ico">
    </div>
    <div class="nav-group-content">
      <a class="nav-item" href="/">
        <img src="/static/favicon.png" />
      </a>
      <a class="nav-item" href="/">
        <img src="/static/favicon.png" />
      </a>
      <a class="nav-item" href="/">
        <img src="/static/favicon.png" />
      </a>
    </div>
  </div>
  <a class="nav-item" href="/">
    <img src="/static/favicon.png" />
  </a>
</nav>