<nav class="nav">
  {{ range $i, $navItem := .NavItems }}
  {{ if $navItem.IsGroup }}
  <div class="nav-group expanded">
    <div class="nav-group-header">
      <img src="{{ $navItem.ImgSrc }}">
    </div>
    <div class="nav-group-content">
      {{ range $j, $navGroupItem := $navItem.NavGroupItems }}
      <a class="nav-item" href="{{ $navGroupItem.Href }}">
        <img src="{{ $navGroupItem.ImgSrc }}" />
      </a>
      {{ end }}
    </div>
  </div>
  {{ else }}
  <a class="nav-item" href="{{ $navItem.Href }}">
    <img src="{{ $navItem.ImgSrc }}" />
  </a>
  {{ end }}
  {{ end }}
</nav>