<nav class="nav">
  <a class="nav-item" href="/">
    <img src="/static/images/favicon.png" />
  </a>
  <div class="nav-group expanded">
    <div class="nav-group-header">
      <img src="/static/images/lol.ico">
    </div>
    <div class="nav-group-content">
      <a class="nav-item" href="aram">
        <img src="/static/images/HowlingAbyssIcon.png" />
      </a>
      <a class="nav-item" href="players">
        <img src="/static/images/MPengu.png" />
      </a>
    </div>
  </div>
  <div class="nav-group expanded">
    <div class="nav-group-header">
      <img src="/static/images/lol.ico">
    </div>
    <div class="nav-group-content">
      <a class="nav-item" href="/">
        <img src="/static/images/favicon.png" />
      </a>
      <a class="nav-item" href="/">
        <img src="/static/images/favicon.png" />
      </a>
      <a class="nav-item" href="/">
        <img src="/static/images/favicon.png" />
      </a>
    </div>
  </div>
  {{ if .IsAdmin }}
  <a class="nav-item" href="database">
    <img src="/static/images/databaseConfig.png" />
  </a>
  {{ end }}
</nav>