<html>

<head>
  <title>Les Randoms - ARAM</title>
  {{ template "head-content.tmpl.html" }}
  <link rel="stylesheet" type="text/css" href="/static/css/lol-game-review.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/players.css" />
</head>

<body>

  {{ template "layout-start.tmpl.html" .LayoutData }}

  {{ template "content-header.tmpl.html" .ContentHeaderData }}

  <div class="content-body">
  {{ if eq .LayoutData.SubnavData.SelectedSubnavItemIndex 0 }}
  {{ if eq .LastGameParameters.SummonerName "" }}
  <form id="summoner-name-form" method="POST" class="customForm">
    <input autocomplete="off" id="summoner-name-searchbar" type="text" class="customFormValue customSearchBar">
    <button class="confirm customButton">Confirm</button>
  </form>
  {{ else }}
  {{ template "lol-game-review.tmpl.html" .LolGameReviewData }}
  {{ end }}
  {{ end }}
  </div>
  {{ template "layout-end.tmpl.html" .LayoutData }}

</body>

</html>